:root {
  --green: #36af6d;
  --red: #e05643;
  --white: #fff;
  --gray-1: #e6e9ed;
  --gray-2: #d7dadd;
  --gray-3: #abb1b9;
  --gray-4: #5d6671;
  --gray-5: #474a4e;
  --gray-6: #242528;
  --baby-blue: #00bdff;
  --blue: #336686;
  --gold: #ffbf00;
  --orange: #ff8400;
}
